<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmit.testing.dao.app.AppRecordStepMapper" >
  <resultMap id="BaseResultMap" type="com.cmit.testing.entity.app.AppRecordStep" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="case_result_id" property="caseResultId" jdbcType="INTEGER" />
    <result column="step_no" property="stepNo" jdbcType="INTEGER" />
    <result column="step_desc" property="stepDesc" jdbcType="VARCHAR" />
    <result column="command" property="command" jdbcType="VARCHAR" />
    <result column="return_info" property="returnInfo" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="consume_time" property="consumeTime" jdbcType="INTEGER" />
    <result column="screenshot_url" property="screenShotUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, case_result_id, step_no, step_desc, command, return_info, result, begin_time, end_time,
    consume_time, screenshot_url
  </sql>

  <!--查询出所有已经超时的短信内容校验的步骤（还未校验步骤，已经校验的则无需列出）-->
  <select id="getAllSmsVerifyStep" resultType="java.util.Map">
    SELECT
        rs.id AS 'stepId',
        rs.case_result_id AS 'caseResultId',
        cr.case_id AS 'caseId',
        cr.device_id AS 'deviceId',
        d.device_sn AS 'deviceSn',
        cr.execute_id AS 'executeId'
    FROM
        app_record_step AS rs
        LEFT JOIN app_case_result AS cr ON cr.result_id = rs.case_result_id
        LEFT JOIN app_device AS d ON d.device_id = cr.device_id
    WHERE
        command = 'smsVerify'
        AND result = 2
        AND date_add( now( ), INTERVAL - 120 MINUTE ) >= begin_time
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_record_step
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_record_step
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByExecuteId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    FROM app_record_step
    WHERE case_result_id in (select result_id from app_case_result where execute_id in
    <foreach close=")" collection="ids" item="executeId" open="(" separator=",">
      #{executeId, jdbcType=INTEGER}
    </foreach>
    )
  </select>

  <!--条件删除数据-->
  <delete id="deleteRecordStep" parameterType="com.cmit.testing.entity.app.AppRecordStep">
    DELETE FROM app_record_step
    WHERE case_result_id = #{caseResultId, jdbcType=INTEGER}
  </delete>
  <!--条件删除数据-->
  <delete id="deleteStepByExecuteId" parameterType="com.cmit.testing.entity.app.AppRecordStep">
    DELETE FROM app_record_step
    WHERE case_result_id in (select result_id from app_case_result where execute_id in
    <foreach close=")" collection="ids" item="executeId" open="(" separator=",">
      #{executeId, jdbcType=INTEGER}
    </foreach>
    )
  </delete>

  <!--根据结果ID查询所有的步骤记录信息-->
  <select id="getAllStepByResultIds" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM app_record_step
    WHERE case_result_id IN
    <foreach collection="resultIdList" item="resultId" close=")" open="(" separator=",">
      #{resultId}
    </foreach>
  </select>

  <!--批量添加-->
  <insert id="insertList" parameterType="com.cmit.testing.entity.app.AppRecordStep">
    INSERT INTO app_record_step
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id, case_result_id, step_no, step_desc, command, return_info, result, begin_time, end_time, consume_time, screenshot_url
    </trim>
    VALUES
    <foreach collection="stepList" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.caseResultId,jdbcType=INTEGER}, #{item.stepNo,jdbcType=INTEGER},
      #{item.stepDesc,jdbcType=VARCHAR},
      #{item.command,jdbcType=VARCHAR}, #{item.returnInfo,jdbcType=VARCHAR}, #{item.result,jdbcType=INTEGER},
      #{item.beginTime,jdbcType=TIMESTAMP}, #{item.endTime,jdbcType=TIMESTAMP}, #{item.consumeTime,jdbcType=INTEGER},
      #{item.screenShotUrl,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <insert id="insert" parameterType="com.cmit.testing.entity.app.AppRecordStep" >
    insert into app_record_step (id, case_result_id, step_no, step_desc,
      command, return_info, result, 
      begin_time, end_time, consume_time, screenshot_url
      )
    values (#{id,jdbcType=INTEGER}, #{caseResultId,jdbcType=INTEGER}, #{stepNo,jdbcType=INTEGER}, #{stepDesc,jdbcType=VARCHAR},
      #{command,jdbcType=VARCHAR}, #{returnInfo,jdbcType=VARCHAR}, #{result,jdbcType=INTEGER}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{consumeTime,jdbcType=INTEGER},
      #{item.screenShotUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmit.testing.entity.app.AppRecordStep" useGeneratedKeys="true" keyProperty="id">
    insert into app_record_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="caseResultId != null" >
        case_result_id,
      </if>
      <if test="stepNo != null" >
        step_no,
      </if>
      <if test="stepDesc != null" >
        step_desc,
      </if>
      <if test="command != null" >
        command,
      </if>
      <if test="returnInfo != null" >
        return_info,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="consumeTime != null" >
        consume_time,
      </if>
      <if test="screenShotUrl != null" >
        screenshot_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="caseResultId != null" >
        #{caseResultId,jdbcType=INTEGER},
      </if>
      <if test="stepNo != null" >
        #{stepNo,jdbcType=INTEGER},
      </if>
      <if test="stepDesc != null" >
        #{stepDesc,jdbcType=VARCHAR},
      </if>
      <if test="command != null" >
        #{command,jdbcType=VARCHAR},
      </if>
      <if test="returnInfo != null" >
        #{returnInfo,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeTime != null" >
        #{consumeTime,jdbcType=INTEGER},
      </if>
      <if test="screenShotUrl != null" >
        #{screenShotUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmit.testing.entity.app.AppRecordStep" >
    update app_record_step
    <set >
      <if test="caseResultId != null" >
        case_result_id = #{caseResultId,jdbcType=INTEGER},
      </if>
      <if test="stepNo != null" >
        step_no = #{stepNo,jdbcType=INTEGER},
      </if>
      <if test="stepDesc != null" >
        step_desc = #{stepDesc,jdbcType=VARCHAR},
      </if>
      <if test="command != null" >
        command = #{command,jdbcType=VARCHAR},
      </if>
      <if test="returnInfo != null" >
        return_info = #{returnInfo,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeTime != null" >
        consume_time = #{consumeTime,jdbcType=INTEGER},
      </if>
      <if test="screenShotUrl != null" >
        screenshot_url = #{screenShotUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmit.testing.entity.app.AppRecordStep" >
    update app_record_step
    set case_result_id = #{caseResultId,jdbcType=INTEGER},
      step_no = #{stepNo,jdbcType=INTEGER},
      step_desc = #{stepDesc,jdbcType=VARCHAR},
      command = #{command,jdbcType=VARCHAR},
      return_info = #{returnInfo,jdbcType=VARCHAR},
      result = #{result,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      consume_time = #{consumeTime,jdbcType=INTEGER},
      screenshot_url = #{screenShotUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByCaseResultIds" parameterType="java.util.List">
    DELETE FROM app_record_step
    WHERE case_result_id IN
    <foreach close=")" collection="caseResultIds" item="caseResultId" open="(" separator=",">
      #{caseResultId,jdbcType=INTEGER}
    </foreach>
  </delete>
  <select id="getAppCaseStepByFewDays" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    FROM   app_record_step
    WHERE #{date } >= DATE_ADD(end_time,INTERVAL #{day } DAY)
  </select>
</mapper>