<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.testing.dao.app.DeviceMapper">
    <resultMap id="BaseResultMap" type="com.cmit.testing.entity.app.Device">
        <id column="device_id" jdbcType="INTEGER" property="id" />
        <result column="device_sn" jdbcType="VARCHAR" property="deviceSn" />
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
        <result column="device_brand" jdbcType="VARCHAR" property="brand" />
        <result column="device_version" jdbcType="VARCHAR" property="version" />
        <result column="sys_os" jdbcType="VARCHAR" property="sysOs" />
        <result column="resolution" jdbcType="VARCHAR" property="resolution" />
        <result column="proxy_id" jdbcType="INTEGER" property="proxyId" />
        <result column="preview_url" jdbcType="VARCHAR" property="previewUrl" />
        <result column="imei1" jdbcType="VARCHAR" property="imei1" />
        <result column="imei2" jdbcType="VARCHAR" property="imei2" />
        <result column="meid" jdbcType="VARCHAR" property="meid" />
        <result column="imsi" jdbcType="VARCHAR" property="imsi" />
        <result column="tel_num" jdbcType="VARCHAR" property="telNum" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="use_status" jdbcType="VARCHAR" property="useStatus" />
        <result column="online_status" jdbcType="VARCHAR" property="onlineStatus" />
        <result column="dept_id" jdbcType="INTEGER" property="deptId" />
        <result column="belonger" jdbcType="VARCHAR" property="belonger" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_person" jdbcType="INTEGER" property="createPerson" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_person" jdbcType="INTEGER" property="updatePerson" />
        <result column="proxy_ip" jdbcType="VARCHAR" property="proxyIp" />
        <result column="proxy_mac" jdbcType="VARCHAR" property="proxyMac" />
        <result column="create_person_name" jdbcType="VARCHAR" property="createPersonName" />
        <result column="update_person_name" jdbcType="VARCHAR" property="updatePersonName" />
    </resultMap>

    <sql id="Base_Column_List">
        device_id,device_sn,device_code,device_brand,device_version,sys_os,resolution,proxy_id,preview_url,imei1,imei2,meid,
        imsi,tel_num,province,use_status,online_status,dept_id,belonger,create_time,create_person,update_time,update_person
    </sql>


    <select id="queryPageDeviceList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
          d.device_id, d.device_sn, d.device_brand, d.device_version, d.sys_os, d.resolution, d.preview_url, d.imei1,
          d.imsi, d.tel_num, d.province, d.use_status, d.online_status, d.create_time, d.create_person, d.update_time,
          d.update_person, p.proxy_id, p.proxy_ip, p.proxy_mac
        FROM
          app_device AS d LEFT JOIN app_proxy AS p ON p.proxy_id = d.proxy_id
        <where>
            <if test="brandList != null and brandList.length > 0">
                AND d.device_brand IN
                <foreach collection="brandList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="sysOsList != null and sysOsList.length > 0">
                AND d.sys_os IN
                <foreach collection="sysOsList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="resolutionList != null and resolutionList.length > 0">
                AND d.resolution IN
                <foreach collection="resolutionList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="useStatusList != null and useStatusList.length > 0">
                AND d.use_status IN
                <foreach collection="useStatusList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="onlineStatusList != null and onlineStatusList.length > 0">
                AND d.online_status IN
                <foreach collection="onlineStatusList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchCriteria != null">
                AND (
                d.device_brand LIKE CONCAT(CONCAT('%', TRIM(#{searchCriteria})), '%')
                OR d.sys_os LIKE CONCAT(CONCAT('%', TRIM(#{searchCriteria})), '%')
                OR d.resolution LIKE CONCAT(CONCAT('%', TRIM(#{searchCriteria})), '%')
                )
            </if>
        </where>
    </select>
    
    <resultMap id="SimCardMap" type="com.cmit.testing.entity.app.SimCardInfo">
        <id column="deviceId" jdbcType="INTEGER" property="deviceId" />
        <result column="deviceSn" jdbcType="VARCHAR" property="deviceSn" />
        <result column="useStatus" jdbcType="VARCHAR" property="useStatus" />
        <result column="onlineStatus" jdbcType="VARCHAR" property="onlineStatus" />
        <result column="imsi" jdbcType="VARCHAR" property="imsi" />
        <result column="telNum" jdbcType="VARCHAR" property="telNum" />
    </resultMap>
    <!--根据DeviceSn获取到设备相关的信息-->
    <select id="getSimCardAndDeviceByDeviceSn" resultMap="SimCardMap" parameterType="java.lang.String">
        SELECT
            d.device_id AS 'deviceId',
            d.device_sn AS 'deviceSn',
            d.use_status AS 'useStatus',
            d.online_status AS 'onlineStatus',
            sc.imsi AS 'imsi',
            sc.phone AS 'telNum'
        FROM
            app_device AS d
            LEFT JOIN sim_card AS sc ON sc.phone = d.tel_num
        WHERE
            d.device_sn = #{deviceSn, jdbcType=VARCHAR}
    </select>

    <!--统计App侧所有关联了SIM的终端数-->
    <select id="countAppDevice" resultType="java.util.Map">
        SELECT
            COUNT(1) AS 'deviceCount',
            COUNT(IF(online_status = 1, TRUE, NULL)) AS 'onLineCount',
            COUNT(IF((online_status = 1 AND use_status = 0), TRUE, NULL)) AS 'freeCount'
        FROM app_device
        WHERE imsi IS NOT NULL AND tel_num IS NOT NULL
    </select>

    <select id="countAppDeviceProvince" resultType="java.lang.String">
        SELECT
	      DISTINCT(sc.province)
        FROM
            app_device d
            INNER JOIN sim_card sc ON sc.imsi = d.imsi
        WHERE
            sc.imsi IS NOT NULL
    </select>

    <select id="getDeviceByDeviceSn" resultMap="BaseResultMap" parameterType="java.lang.String">
      SELECT <include refid="Base_Column_List"/>
        FROM app_device
        WHERE device_sn = #{deviceSn, jdbcType=VARCHAR}
    </select>


    <!--用例新建-终端选择-->
    <resultMap id="DeviceResultMap" type="com.cmit.testing.entity.vo.AppDeviceVO">
        <id column="deviceId" jdbcType="INTEGER" property="deviceId" />
        <result column="devBv" jdbcType="VARCHAR" property="devBv" />
        <result column="telNum" jdbcType="VARCHAR" property="telNum" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="accountPwd" jdbcType="INTEGER" property="accountPwd" />
        <collection property="productList" ofType="com.cmit.testing.entity.Product">
            <id column="productId" jdbcType="INTEGER" property="id" />
            <result column="pCode"  property="code"  jdbcType="VARCHAR"/>
            <result column="productName"  property="name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <select id="getDeviceList" resultMap="DeviceResultMap"  parameterType="com.cmit.testing.entity.vo.AppDeviceVO">
        SELECT
            a.id AS 'productId',
            a.name AS 'productName' ,
            a.code AS 'pCode',
            ad.device_id AS 'deviceId',
            concat( ad.device_brand, ' ', ad.device_version ) AS 'devBv',
            ad.tel_num AS 'telNum',
            sc.province AS 'province',
            sc.available_status AS 'availableStatus',
            ad.use_status AS 'useStatus',
            ad.online_status AS 'onlineStatus',
            sc.brand AS 'brand',
            sc.service_code AS 'accountPwd'
            FROM
            app_device AS ad
            INNER JOIN sim_card AS sc ON ad.tel_num = sc.phone
            LEFT JOIN (SELECT p.id, p.`name`, p.code, rs.phone FROM product p INNER JOIN order_relationship rs ON  rs.product_id=p.id ) AS a ON a.phone=ad.tel_num
        WHERE 1=1
          <if test="useStatus != null and useStatus != ''">
              AND ad.use_status = #{useStatus, jdbcType=VARCHAR}
          </if>
        <if test="onlineStatus != null and onlineStatus != ''">
            AND ad.online_status = #{onlineStatus, jdbcType=VARCHAR}
        </if>
          <if test="telNum != null and telNum != ''">
            AND ad.tel_num = #{telNum, jdbcType=VARCHAR}
          </if>
          <if test="provinceList != null and provinceList.size>0">
              AND sc.province IN
              <foreach item="province" collection="provinceList" open="(" close=")" separator=",">
                  #{province, jdbcType=VARCHAR}
              </foreach>
          </if>
            <if test="minBalance != null and minBalance != ''">
                AND sc.balance <![CDATA[>= ]]> #{minBalance, jdbcType=DOUBLE}
            </if>
            <if test="maxBalance != null and maxBalance != ''">
              AND sc.balance <![CDATA[<= ]]> #{maxBalance, jdbcType=DOUBLE}
          </if>
          <if test="availableStatus != null and availableStatus != ''">
              AND sc.available_status = #{availableStatus, jdbcType=INTEGER}
          </if>
            <if test="brand != null and brand.size>0">
                AND sc.brand IN
                <foreach item="b" collection="brand" open="(" close=")" separator=",">
                    #{b, jdbcType=VARCHAR}
                </foreach>
            </if>
          <if test="devBv != null and devBv != ''">
              AND (
               ad.device_brand LIKE CONCAT(CONCAT('%', TRIM(#{devBv})), '%')
              OR ad.device_version LIKE CONCAT(CONCAT('%', TRIM(#{devBv})), '%')
              )
          </if>


    </select>

    <resultMap id="DpDtoMap" type="com.cmit.testing.listener.operatecmd.DpDto">
        <id column="device_id" jdbcType="INTEGER" property="deviceId" />
        <result column="device_sn" jdbcType="VARCHAR" property="deviceSn" />
        <result column="tel_num" jdbcType="VARCHAR" property="telNum" />
        <result column="proxy_id" jdbcType="INTEGER" property="proxyId" />
        <result column="proxy_ip" jdbcType="VARCHAR" property="proxyIp" />
        <result column="proxy_mac" jdbcType="VARCHAR" property="proxyMac" />
    </resultMap>
    <!--获取手机设备及所在Proxy的信息-->
    <select id="getDeviceAndProxyByPhone" resultMap="DpDtoMap" parameterType="java.lang.String">
        SELECT
          d.device_id, d.device_sn, d.tel_num, p.proxy_id, p.proxy_ip, p.proxy_mac
        FROM
          app_device AS d LEFT JOIN app_proxy AS p ON p.proxy_id = d.proxy_id
        WHERE
          d.online_status = 1 AND p.online_status = 0
          <if test="phoneNum != null">
            AND d.tel_num = #{phoneNum}
          </if>
        LIMIT 1
    </select>


    <!--根据手机号获取对应的终端设备信息-->
    <select id="getDeviceByPhoneNum" resultMap="BaseResultMap" parameterType="java.lang.String">
      SELECT
        d.device_id, d.device_sn, d.proxy_id, d.tel_num, d.use_status, d.online_status, c.province
      FROM
          app_device AS d
          LEFT JOIN sim_card AS c ON c.phone = d.tel_num
      WHERE
          tel_num IN
          <foreach collection="phoneNumList" item="phoneNum" open="(" close=")" separator=",">
            #{phoneNum}
          </foreach>
    </select>


    <select id="getDeviceByProxyIpAndMac" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT ad.device_id, ad.device_sn, ad.proxy_id, ad.use_status, ad.online_status, ad.imsi
        FROM app_device AS ad LEFT JOIN app_proxy AS ap ON ad.proxy_id = ap.proxy_id
        WHERE ap.proxy_ip = #{proxyIp, jdbcType=VARCHAR} AND ap.proxy_mac = #{proxyMac, jdbcType=VARCHAR}
    </select>

    <select id="getDeviceIdByProxyAndCaseId" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT cd.device_id
        FROM app_case_device as cd LEFT JOIN app_device as d ON cd.device_id = d.device_id
        LEFT JOIN app_proxy AS p on p.proxy_id = d.proxy_id
        WHERE cd.case_id =  #{appCaseId, jdbcType=VARCHAR}
        AND p.proxy_ip = #{proxyIp, jdbcType=VARCHAR}
        AND p.proxy_mac = #{proxyMac, jdbcType=VARCHAR}
    </select>

    <select id="getList" resultMap="BaseResultMap" parameterType="com.cmit.testing.entity.app.Device">
      SELECT <include refid="Base_Column_List"/>
      FROM app_device
      <where>
          <if test="deviceSn != null and deviceSn != ''">
              AND device_sn = #{deviceSn, jdbcType=VARCHAR}
          </if>
          <if test="id != null and id != ''">
              AND device_id = #{id, jdbcType=INTEGER}
          </if>
          <if test="telNum != null and telNum != ''">
              AND tel_num = #{telNum, jdbcType=VARCHAR}
          </if>
          <if test="useStatus != null and useStatus != ''">
              AND use_status = #{useStatus, jdbcType=VARCHAR}
          </if>
      </where>
    </select>

    <select id="deviceRegister" resultMap="BaseResultMap" parameterType="com.cmit.testing.entity.app.Device">
        SELECT <include refid="Base_Column_List"/>
        FROM app_device
        <where>
            <if test="deviceSn != null and deviceSn != ''">
                AND device_sn = #{deviceSn, jdbcType=VARCHAR}
            </if>
            <if test="imei1 != null and imei1 != ''">
                OR imei1 = #{imei1, jdbcType=VARCHAR}
                OR imei2 = #{imei1, jdbcType=VARCHAR}
                OR meid = #{imei1, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="queryTerms" resultType="java.lang.String" parameterType="java.util.Map" statementType="STATEMENT">
        SELECT DISTINCT(${column}) FROM app_device;
    </select>

    <update id="updateByPrimaryKey" parameterType="com.cmit.testing.entity.app.Device" >

    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            device_id, device_sn, device_brand, device_version, sys_os, resolution, imei1, imsi, tel_num, province,
            use_status, online_status, create_time, update_time, create_person, update_person,
            IFNULL((SELECT name FROM sys_user WHERE id = d.create_person), "系统")   AS 'create_person_name',
            IFNULL((SELECT name FROM sys_user WHERE id = d.update_person), "系统") AS 'update_person_name'
        FROM app_device AS d
        WHERE device_id = #{id,jdbcType=BIGINT}
    </select>

    <update id="updateDeviceByDto" parameterType="com.cmit.testing.entity.app.DeviceDTO">
        UPDATE
            app_device
        <set>
            <if test="useStatus != null">
                use_status = #{useStatus},
            </if>
            <if test="onlineStatus != null">
                online_status = #{onlineStatus},
            </if>
            <if test="telNum != null">
                tel_num = #{telNum},
            </if>
            <if test="deviceSn != null">
                device_sn = #{deviceSn},
            </if>
            <if test="proxyId != null">
                proxy_id = #{proxyId},
            </if>
        </set>
        <where>
            <if test="preOccupancy != null">
                AND use_status = #{preOccupancy}
            </if>
            <if test="deviceId != null">
                AND device_id = #{device_id}
            </if>
            <if test="deviceList != null and deviceList.size() > 0">
                AND device_id IN
                <foreach item="deviceId" collection="deviceList" open="(" close=")" separator=",">
                    #{deviceId,jdbcType=INTEGER}
                </foreach >
            </if>
            <if test="deviceSnList != null and deviceSnList.size() > 0">
                AND device_sn IN
                <foreach item="deviceSn" collection="deviceSnList" open="(" close=")" separator=",">
                    #{deviceSn}
                </foreach >
            </if>
        </where>

    </update>

    <select id="queryDeviceByTelNum" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM app_device
        WHERE device_id <![CDATA[ != ]]> #{deviceId}  AND tel_num = #{telNum}
    </select>

    <update id="updateDeviceTelNum" parameterType="com.cmit.testing.entity.app.Device">
        UPDATE app_device
        SET tel_num = #{telNum}, province = #{province}, update_time = #{updateTime}, update_person = #{updatePerson}
        WHERE device_id = #{id}
    </update>

    <update id="updateOnlineStatusByIds" parameterType="java.lang.String">
        UPDATE app_device SET online_status = #{onlineStatus, jdbcType=VARCHAR}
        WHERE device_id IN
        <foreach item="deviceId" collection="ids" open="(" close=")" separator=",">
            #{deviceId,jdbcType=INTEGER}
        </foreach >
    </update>

    <update id="updateDeviceByDeviceSn" parameterType="com.cmit.testing.entity.app.Device">
      UPDATE app_device
      <set>
          <if test="deviceCode != null and deviceCode != ''">
              device_code = #{deviceCode, jdbcType=VARCHAR},
          </if>
          <if test="brand != null and brand != ''">
              device_brand = #{brand, jdbcType=VARCHAR},
          </if>
          <if test="version != null and version != ''">
              device_version = #{version, jdbcType=VARCHAR},
          </if>
          <if test="sysOs != null and sysOs != ''">
              sys_os = #{sysOs, jdbcType=VARCHAR},
          </if>
          <if test="resolution != null and resolution != ''">
              resolution = #{resolution, jdbcType=VARCHAR},
          </if>
          <if test="previewUrl != null and previewUrl != ''">
              preview_url = #{previewUrl, jdbcType=VARCHAR},
          </if>
          <if test="imei1 != null and imei1 != ''">
              imei1 = #{imei1, jdbcType=VARCHAR},
          </if>
          <if test="imei2 != null and imei2 != ''">
              imei2 = #{imei2, jdbcType=VARCHAR},
          </if>
          <if test="meid != null and meid != ''">
              meid = #{meid, jdbcType=VARCHAR},
          </if>
          <if test="imsi != null and imsi != ''">
              imsi = #{imsi, jdbcType=VARCHAR},
          </if>
          <if test="telNum != null and telNum != ''">
              tel_num = #{telNum, jdbcType=VARCHAR},
          </if>
          <if test="province != null and province != ''" >
              province = #{province, jdbcType=VARCHAR},
          </if>
          <if test="useStatus != null and useStatus != ''">
              use_status = #{useStatus, jdbcType=INTEGER},
          </if>
          <if test="onlineStatus != null and onlineStatus != ''">
              online_status = #{onlineStatus, jdbcType=INTEGER},
          </if>
          <if test="deptId != null and deptId != ''">
              dept_id = #{deptId, jdbcType=INTEGER},
          </if>
          <if test="belonger != null and belonger != ''">
              belonger = #{belonger, jdbcType=INTEGER},
          </if>
          <if test="updateTime != null">
              update_time = #{updateTime, jdbcType=TIMESTAMP},
          </if>
          <if test="updatePerson != null and updatePerson!= ''">
              update_person = #{updatePerson, jdbcType=INTEGER},
          </if>
          <if test="proxyId != null and proxyId!= ''">
              proxy_id = #{proxyId, jdbcType=INTEGER},
          </if>
      </set>
        WHERE device_sn = #{deviceSn, jdbcType=VARCHAR}
    </update>

    <update id="updateByKey" parameterType="com.cmit.testing.entity.app.Device">
        UPDATE app_device
        <set>
            <if test="deviceSn != null and deviceSn != ''">
                device_sn = #{deviceSn, jdbcType=VARCHAR},
            </if>
            <if test="deviceCode != null and deviceCode != ''">
                device_code = #{deviceCode, jdbcType=VARCHAR},
            </if>
            <if test="brand != null and brand != ''">
                device_brand = #{brand, jdbcType=VARCHAR},
            </if>
            <if test="version != null and version != ''">
                device_version = #{version, jdbcType=VARCHAR},
            </if>
            <if test="sysOs != null and sysOs != ''">
                sys_os = #{sysOs, jdbcType=VARCHAR},
            </if>
            <if test="resolution != null and resolution != ''">
                resolution = #{resolution, jdbcType=VARCHAR},
            </if>
            <if test="previewUrl != null and previewUrl != ''">
                preview_url = #{previewUrl, jdbcType=VARCHAR},
            </if>
            <if test="imei1 != null and imei1 != ''">
                imei1 = #{imei1, jdbcType=VARCHAR},
            </if>
            <if test="imei2 != null and imei2 != ''">
                imei2 = #{imei2, jdbcType=VARCHAR},
            </if>
            <if test="meid != null and meid != ''">
                meid = #{meid, jdbcType=VARCHAR},
            </if>
            <if test="imsi != null and imsi != ''">
                imsi = #{imsi, jdbcType=VARCHAR},
            </if>
            <if test="imsiSetNull != null and imsiSetNull != ''">
                imsi = NULL,
            </if>
            <if test="telNum != null and telNum != ''">
                tel_num = #{telNum, jdbcType=VARCHAR},
            </if>
            <if test="province != null and province != ''" >
                province = #{province, jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null and useStatus != ''">
              use_status = #{useStatus, jdbcType=INTEGER},
            </if>
            <if test="onlineStatus != null and onlineStatus != ''">
              online_status = #{onlineStatus, jdbcType=INTEGER},
            </if>
            <if test="deptId != null and deptId != ''">
                dept_id = #{deptId, jdbcType=INTEGER},
            </if>
            <if test="belonger != null and belonger != ''">
                belonger = #{belonger, jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null and updatePerson!= ''">
                update_person = #{updatePerson, jdbcType=INTEGER},
            </if>
            <if test="proxyId != null and proxyId!= ''">
                proxy_id = #{proxyId, jdbcType=INTEGER},
            </if>
        </set>
        WHERE device_id = #{id}
    </update>


    <update id="updateByProxy" parameterType="map">
      UPDATE app_device AS d
      SET online_status = #{onlineStatus}
      WHERE d.proxy_id IN (
      SELECT p.proxy_id FROM app_proxy AS  p
      WHERE proxy_ip = #{proxyIp} AND proxy_mac=#{proxyMac}
      )
    </update>

    <select id="getAppDeviceByIds" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT <include refid="Base_Column_List"/> FROM app_device
        WHERE id IN
        <foreach close=")" collection="ids" item="id" open="(" separator=",">
            #{id,jdbcType=INTEGER}
        </foreach>
    </select>

    <insert id="insertSelective" parameterType="com.cmit.testing.entity.app.Device" >
        INSERT INTO app_device
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''" >
                device_id,
            </if>
            <if test="deviceSn != null and deviceSn != ''" >
                device_sn,
            </if>
            <if test="deviceCode != null and deviceCode != ''" >
                device_code,
            </if>
            <if test="brand != null and brand != ''" >
                device_brand,
            </if>
            <if test="version != null and version != ''" >
                device_version,
            </if>
            <if test="sysOs != null and sysOs != ''" >
                sys_os,
            </if>
            <if test="resolution != null and resolution != ''" >
                resolution,
            </if>
            <if test="previewUrl != null and previewUrl != ''" >
                preview_url,
            </if>
            <if test="imei1 != null and imei1 != ''" >
                imei1,
            </if>
            <if test="imei2 != null and imei2 != ''" >
                imei2,
            </if>
            <if test="meid != null and meid != ''" >
                meid,
            </if>
            <if test="imsi != null and imsi != ''">
                imsi,
            </if>
            <if test="telNum != null and telNum != ''" >
                tel_num,
            </if>
            <if test="province != null and province != ''" >
                province,
            </if>
            <if test="useStatus != null and useStatus != ''" >
                use_status,
            </if>
            <if test="onlineStatus != null and onlineStatus != ''" >
                online_status,
            </if>
            <if test="deptId != null and deptId != ''" >
                dept_id,
            </if>
            <if test="belonger != null and belonger != ''" >
                belonger,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createPerson != null and createPerson != ''">
                create_person,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updatePerson != null and updatePerson != ''">
                update_person,
            </if>
            <if test="proxyId != null and proxyId != ''">
                proxy_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''" >
                #{id, jdbcType=INTEGER},
            </if>
            <if test="deviceSn != null and deviceSn != ''" >
                #{deviceSn, jdbcType=VARCHAR},
            </if>
            <if test="deviceCode != null and deviceCode != ''" >
                #{deviceCode, jdbcType=VARCHAR},
            </if>
            <if test="brand != null and brand != ''" >
                #{brand, jdbcType=VARCHAR},
            </if>
            <if test="version != null and version != ''" >
                #{version, jdbcType=VARCHAR},
            </if>
            <if test="sysOs != null and sysOs != ''" >
                #{sysOs, jdbcType=VARCHAR},
            </if>
            <if test="resolution != null and resolution != ''" >
                #{resolution, jdbcType=VARCHAR},
            </if>
            <if test="previewUrl != null and previewUrl != ''" >
                #{previewUrl, jdbcType=VARCHAR},
            </if>
            <if test="imei1 != null and imei1 != ''" >
                #{imei1, jdbcType=VARCHAR},
            </if>
            <if test="imei2 != null and imei2 != ''" >
                #{imei2, jdbcType=VARCHAR},
            </if>
            <if test="meid != null and meid != ''" >
                #{meid, jdbcType=VARCHAR},
            </if>
            <if test="imsi != null and imsi != ''">
                #{imsi, jdbcType=VARCHAR},
            </if>
            <if test="telNum != null and telNum != ''" >
                #{telNum, jdbcType=VARCHAR},
            </if>
            <if test="province != null and province != ''" >
                #{province, jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null and useStatus != ''" >
                #{useStatus, jdbcType=VARCHAR},
            </if>
            <if test="onlineStatus != null and onlineStatus != ''" >
                #{onlineStatus, jdbcType=VARCHAR},
            </if>
            <if test="deptId != null and deptId != ''" >
                #{deptId, jdbcType=INTEGER},
            </if>
            <if test="belonger != null and belonger != ''" >
                #{belonger, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                #{createPerson, jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null and updatePerson != ''">
                #{updatePerson, jdbcType=INTEGER},
            </if>
            <if test="proxyId != null and proxyId != ''">
                #{proxyId, jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>