.public-palt-word, .user-simu-word {
	top: 35%;
}

.underPart-left-upper, .underPart-left-down {
	background-size: 70%;
}

.underPart-left-upper-num, .underPart-left-down-num {
	top: 35%;
}

.underPart-left-upper-word, .underPart-left-down-word {
	top: 68%;
}

.head-word {
	top: 16%;
}