   
.head-word {
    font-size: 3.2vw;
    left: 38%;
    top: 6%;
}

.part-one-up-process-word, .part-down-up-process-word, .part-three-up-process-word, .part-three-down-process-word {
	padding: 25% 20%;
}

.part-two-one-word, .part-two-three-word, .part-two-five-word {
	padding: 25% 20%;
}
.part-six-word {
	padding: 25% 20%;
}
.person-up {
    padding: 120% 3% 20% 15%;
}

.person-down {
    padding: 160% 3% 10% 15%;
}

.head-priture {
	top: 45px;
}

.publisher-word {
	padding-top: 29%;
}