   
.head-word {
    font-size: 2.8vw;
    left: 40%;
}

.part-one-up-process-word, .part-down-up-process-word, .part-three-up-process-word, .part-three-down-process-word {
	padding: 15% 25%;
}

.part-two-one-word, .part-two-three-word, .part-two-five-word {
	padding: 15% 25%;
}
.person-up {
    padding: 80% 3% 20% 15%;
}

.person-down {
    padding: 100% 3% 10% 15%;
}

.part-six-word {
	padding: 15% 25%;
}