.head-word {
    font-size: 4.2vw;
    left: 26%;
    top: 8%;
}
.part-one-up-process-word, .part-down-up-process-word, .part-three-up-process-word, .part-three-down-process-word {
    padding: 16% 25%;
}

.part-two-one-word, .part-two-three-word, .part-two-five-word {
    padding: 16% 25%;
}

.part-five-one-word, .part-five-two-word, .part-five-three-word, .part-five-four-word, .part-five-five-word {
    padding: 16% 25%;
}

.moreWord-one {
    padding: 16% 1.5%;
}

.moreWord-two {
    padding: 16% 13%;
}

.moreWord-three {
    padding: 16% 35%;
    text-align: center;
}
.moreWord-four {
    padding: 16% 7%;
}

.user-pic {
    top: 40%;
}

.user-word {
    top: 54%;
}