<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.testing.dao.DicConstMapper">
  <resultMap id="BaseResultMap" type="com.cmit.testing.entity.DicConst">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="dvalue" jdbcType="VARCHAR" property="dvalue" />
    <result column="dtype" jdbcType="VARCHAR" property="dtype" />
    <result column="dparentCode" jdbcType="VARCHAR" property="dparentCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dname, dvalue, dtype, dparentCode, status, remark
  </sql>
  
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_const
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_const
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 根据条件查询 -->
  <select id="findDicConstByParam" resultMap="BaseResultMap" parameterType="com.cmit.testing.entity.DicConst" >
  	select 
  	<include refid="Base_Column_List" />
  	from dic_const d where 1=1 
  	  <if test="id != null">
        and d.id = #{id,jdbcType=VARCHAR}
      </if>
  	  <if test="dname != null and dname!=''">
        and d.dname  LIKE CONCAT('%', #{dname}, '%')
      </if>
      <if test="dvalue != null">
        and d.dvalue = #{dvalue,jdbcType=VARCHAR}
      </if>
      <if test="dtype != null and dtype!=''">
        and d.dtype = #{dtype,jdbcType=VARCHAR}
      </if>
      <if test="dparentCode != null">
        and d.dparentCode = #{dparentCode,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and d.status = #{status,jdbcType=INTEGER}
      </if>
      <if test="remark != null">
        and d.remark = #{remark,jdbcType=VARCHAR}
      </if>
  </select>
  
  <!-- 分页查询 -->
  <select id="findByPage"   resultMap="BaseResultMap" >
	  select 
	  <include refid="Base_Column_List" />
	  from dic_const
  	  WHERE 1=1
  	  <if test="dname != null and dname != ''">
        and dname = #{dname},
      </if>
      <if test="dvalue != null and dvalue != ''">
        and dvalue LIKE CONCAT('%', #{dvalue}, '%')
      </if>
      <if test="dtype != null and dtype != ''">
        and dtype LIKE CONCAT('%', #{dtype}, '%')
      </if>
      <if test="dparentCode != null and dparentCode != ''">
        and dparentCode LIKE CONCAT('%', #{dparentCode}, '%')

      </if>
      <if test="status != null ">
        and status = #{status}
      </if>
      <if test="remark != null and remark != ''" >
        and remark = #{remark}
      </if>
      order by id,dtype
  </select>
  
  <!-- 添加字典 -->
  <insert id="insert" parameterType="com.cmit.testing.entity.DicConst">
    insert into dic_const (id, dname, dvalue, 
      dtype, dparentCode, status, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{dname,jdbcType=VARCHAR}, #{dvalue,jdbcType=VARCHAR}, 
      #{dtype,jdbcType=VARCHAR}, #{dparentCode,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  
  <!-- 动态添加 -->
  <insert id="insertSelective" parameterType="com.cmit.testing.entity.DicConst">
    insert into dic_const
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dname != null">
        dname,
      </if>
      <if test="dvalue != null">
        dvalue,
      </if>
      <if test="dtype != null">
        dtype,
      </if>
      <if test="dparentCode != null">
        dparentCode,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dvalue != null">
        #{dvalue,jdbcType=VARCHAR},
      </if>
      <if test="dtype != null">
        #{dtype,jdbcType=VARCHAR},
      </if>
      <if test="dparentCode != null">
        #{dparentCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 动态修改 根据主键 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.cmit.testing.entity.DicConst">
    update dic_const
    <set>
      <if test="dname != null">
        dname = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dvalue != null">
        dvalue = #{dvalue,jdbcType=VARCHAR},
      </if>
      <if test="dtype != null">
        dtype = #{dtype,jdbcType=VARCHAR},
      </if>
      <if test="dparentCode != null">
        dparentCode = #{dparentCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 根据主键修改 -->
  <update id="updateByPrimaryKey" parameterType="com.cmit.testing.entity.DicConst">
    update dic_const
    set dname = #{dname,jdbcType=VARCHAR},
      dvalue = #{dvalue,jdbcType=VARCHAR},
      dtype = #{dtype,jdbcType=VARCHAR},
      dparentCode = #{dparentCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据主键批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.Integer" >
    delete from dic_const
    where id IN
    <foreach item="id" collection="ids" open="(" close=")" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
  </delete>
  
</mapper>