<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmit.testing.dao.ModelScriptMapper" >
  <resultMap id="BaseResultMap" type="com.cmit.testing.entity.ModelScript" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="INTEGER" />
    <result column="business_id" property="businessId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="retry" property="retry" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, tag, business_id, type,description,retry, create_time, create_by, update_time, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from model_script
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCommonScript" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from model_script
    where tag = 0
  </select>

  <select id="getAllByModelScript" resultMap="BaseResultMap"  parameterType="com.cmit.testing.entity.ModelScript">
    select
    <include refid="Base_Column_List" />
    from model_script where 1=1
    <if test="name != null and name != ''" >
      and name =#{name}
    </if>
    <if test="tag != null" >
      and tag =#{tag}
    </if>
    <if test="businessId != null" >
      and business_id =#{businessId}
    </if>
    <if test="type != null and type != ''" >
      and type =#{businessId}
    </if>

  </select>

  <select id="selectBusinessScript" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from model_script
    where tag = 1
    and business_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from model_script
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmit.testing.entity.ModelScript" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into model_script (id, name, tag, 
      business_id, type,retry,description, create_time,
      create_by, update_time, update_by,code
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tag,jdbcType=INTEGER}, 
      #{businessId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},#{retry,jdbcType=INTEGER},#{description,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{code}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmit.testing.entity.ModelScript" useGeneratedKeys="true" keyProperty="id">
    insert into model_script
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="businessId != null" >
        business_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="retry != null" >
        retry,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=INTEGER},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="retry != null" >
        #{retry,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmit.testing.entity.ModelScript" >
    update model_script
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=INTEGER},
      </if>
      <if test="businessId != null" >
        business_id = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="retry != null" >
        retry = #{retry,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmit.testing.entity.ModelScript" >
    update model_script
    set name = #{name,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=INTEGER},
      business_id = #{businessId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      retry = #{retry,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getModelScriptByIds" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from model_script where id in ( #{ids} )
  </select>

  <delete id="deleteByIds" parameterType="java.lang.Integer" >
    delete from model_script
    where id IN
    <foreach item="id" collection="ids" open="(" close=")" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
  </delete>

  <!--脚本数据统计（scriptnum：脚本总数，webnum：web数，appnum：app数-->
  <select id="scriptCount" resultType="java.util.Map">
    SELECT
    count(0) AS scriptnum,
    count(IF(type = 1, TRUE, NULL)) AS webnum,
    count(IF(type = 2, TRUE, NULL)) AS appnum
    FROM
      model_script
  </select>


  <select id="getScriptCount" resultType="java.lang.Integer" >
    select
    COUNT(1)
    from model_script
  </select>
</mapper>