<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmit.testing.dao.RecordStepMapper" >
  <resultMap id="BaseResultMap" type="com.cmit.testing.entity.RecordStep" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="testcase_report_id" property="testcaseReportId" jdbcType="INTEGER" />
    <result column="step" property="step" jdbcType="INTEGER" />
    <result column="command" property="command" jdbcType="VARCHAR" />
    <result column="return_info" property="returnInfo" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="consume_time" property="consumeTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, testcase_report_id, step, command, return_info, result, begin_time,
    end_time, consume_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from record_step
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!--<select id="getInfoFromDependCase" resultType="java.lang.String" parameterType="java.lang.Integer" >-->
    <!--select-->
    <!--distinct phone-->
    <!--from record_step-->
    <!--where testcase_id = #{id,jdbcType=INTEGER}-->
    <!--and result = 1-->
    <!--and phone != null-->
  <!--</select>-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record_step
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmit.testing.entity.RecordStep" >
    insert into record_step (id, testcase_report_id, step,
      command, return_info, result,
      begin_time, end_time, consume_time)
    values (#{id,jdbcType=INTEGER}, #{testcaseReportId,jdbcType=INTEGER}, #{step,jdbcType=INTEGER},
      #{command,jdbcType=VARCHAR}, #{returnInfo,jdbcType=VARCHAR}, #{result,jdbcType=INTEGER},
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{consumeTime,jdbcType=INTEGER})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into record_step (id,testcase_report_id, step,
    command, return_info, result,
    begin_time, end_time,consume_time)
    values
    <foreach collection="list" item="recordStep" index= "index" separator =",">
    (#{recordStep.id,jdbcType=INTEGER},#{recordStep.testcaseReportId,jdbcType=INTEGER}, #{recordStep.step,jdbcType=INTEGER},
    #{recordStep.command,jdbcType=VARCHAR},#{recordStep.returnInfo,jdbcType=VARCHAR}, #{recordStep.result,jdbcType=INTEGER},
    #{recordStep.beginTime,jdbcType=TIMESTAMP}, #{recordStep.endTime,jdbcType=TIMESTAMP},
      #{recordStep.consumeTime,jdbcType=INTEGER})
  </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.cmit.testing.entity.RecordStep" >
    insert into record_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="testcaseReportId != null" >
        testcase_report_id,
      </if>
      <if test="step != null" >
        step,
      </if>
      <if test="command != null" >
        command,
      </if>
      <if test="returnInfo != null" >
        return_info,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="consumeTime != null" >
        consume_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="testcaseReportId != null" >
        #{testcaseReportId,jdbcType=INTEGER},
      </if>
      <if test="step != null" >
        #{step,jdbcType=INTEGER},
      </if>
      <if test="command != null" >
        #{command,jdbcType=VARCHAR},
      </if>
      <if test="returnInfo != null" >
        #{returnInfo,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeTime != null" >
        #{consumeTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmit.testing.entity.RecordStep" >
    update record_step
    <set >
      <if test="testcaseReportId != null" >
        testcase_report_id = #{testcaseReportId,jdbcType=INTEGER},
      </if>
      <if test="step != null" >
        step = #{step,jdbcType=INTEGER},
      </if>
      <if test="command != null" >
        command = #{command,jdbcType=VARCHAR},
      </if>
      <if test="returnInfo != null" >
        return_info = #{returnInfo,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeTime != null" >
        consume_time = #{consumeTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmit.testing.entity.RecordStep" >
    update record_step
    set testcase_report_id = #{testcaseReportId,jdbcType=INTEGER},
      step = #{step,jdbcType=INTEGER},
      command = #{command,jdbcType=VARCHAR},
      return_info = #{returnInfo,jdbcType=VARCHAR},
      result = #{result,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      consume_time = #{consumeTime,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByTestcaseReportIds" parameterType="java.lang.Integer" >
    delete from record_step
    where
    testcase_report_id in
    <foreach item="testcaseReportId" collection="testcaseReportIds" open="(" close=")" separator=",">
      #{testcaseReportId,jdbcType=INTEGER}
    </foreach>
  </delete>

  <select id="getScriptStepsByTestCaseReport" resultMap="BaseResultMap" parameterType="com.cmit.testing.entity.TestCaseReport">
    select
    <include refid="Base_Column_List" />
    from record_step
    where testcase_report_id = #{id}
  </select>


  <!--查看步骤详情-->
  <select id="findPage" resultType="com.cmit.testing.entity.vo.RecordStepVO" parameterType="com.cmit.testing.entity.vo.RecordStepVO" >
    SELECT
    c.testcase_report_id AS testCaseReportId,
    a.`name` AS testcastName,
    e. NAME AS scriptName,
    'web' AS type,
    b.phone_num AS phoneNum,
    c.step AS step,
    a.excute_num  AS excuteNum,
    c.consume_time AS consumeTime,
    c.result AS stepResult,
    a.excute_num  AS excuteNum,
    s.param_name As paramName,
    s.remark AS remark
    FROM
    record_step c
    JOIN testcase_report b   ON b.id = c.testcase_report_id
    JOIN testcase a ON a.id = b.testcast_id
    JOIN
    (SELECT * FROM testcase WHERE
    old_testcase_id = 0
    <if test="testcastName != null and testcastName != ''" >
      AND name LIKE CONCAT('%', #{testcastName},'%')
    </if>
    ) h ON a.old_testcase_id = h.id
    JOIN model_script e ON e.id = a.script_id
    LEFT JOIN script_step s ON s.script_id = e.id
    WHERE c.step = s.step

    <if test="step != null " >
      AND c.step =#{step}
    </if>

    <if test="testCaseReportId != null" >
      AND c.testcase_report_id = #{testCaseReportId}
    </if>
    <if test="excuteNum != null and excuteNum !=''" >
      AND a.excute_num = #{excuteNum}
    </if>
    <if test="phoneNum != null and phoneNum !=''" >
      AND b.phone_num LIKE CONCAT('%',#{phoneNum},'%')
    </if>
  </select>
 
   <!-- 根据用例id和手机号查询用例的执行过程 -->
  <select id="getCaseExecutionProcess" resultType="com.cmit.testing.entity.vo.CaseExecutionProcessVO" >
		  	SELECT
			r.testcase_report_id as testcaseReportId,
			r.step as step,
			r.command as command,
			r.result as isFinish,
			s.param_name as paramName,
			s.script_id as scriptId,
			s.remark as remark,
			t.is_finish as Execution
			
		FROM
			record_step r
		LEFT JOIN testcase_report t ON r.testcase_report_id = t.id
		LEFT JOIN testcase c ON t.testcast_id = c.id
		LEFT JOIN script_step s on c.script_id=s.script_id and r.step=s.step
		WHERE 1=1
		<if test="testcastId != null" >
      		AND c.id = #{testcastId}
    	</if>
    	<if test="phoneNum != null and phoneNum !=''" >
      		AND t.phone_num = #{phoneNum}
    	</if>
	</select>
</mapper>