<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmit.testing.dao.ScriptStepMapper" >
  <resultMap id="BaseResultMap" type="com.cmit.testing.entity.ScriptStep" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="script_id" property="scriptId" jdbcType="INTEGER" />
    <result column="step" property="step" jdbcType="INTEGER" />
    <result column="command" property="command" jdbcType="VARCHAR" />
    <result column="param_name" property="paramName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="param_key" property="paramKey" jdbcType="VARCHAR" />
    <result column="param_value" property="paramValue" jdbcType="VARCHAR" />
    <result column="param_type" property="paramType" jdbcType="INTEGER" />
    <result column="orient_type" property="orientType" jdbcType="VARCHAR" />
    <result column="orient_value" property="orientValue" jdbcType="VARCHAR" />
    <result column="match_key" property="matchKey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, script_id, step, command, param_name,remark, param_key, param_value, param_type, orient_type,
    orient_value,match_key
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from script_step
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from script_step
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmit.testing.entity.ScriptStep" useGeneratedKeys="true" keyProperty="id">
    insert into script_step (id, script_id, step, 
      command, param_name,remark, param_key,
      param_value, param_type, orient_type, 
      orient_value,match_key)
    values (#{id,jdbcType=INTEGER}, #{scriptId,jdbcType=INTEGER}, #{step,jdbcType=INTEGER}, 
      #{command,jdbcType=VARCHAR}, #{paramName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{paramKey,jdbcType=VARCHAR},
      #{paramValue,jdbcType=VARCHAR}, #{paramType,jdbcType=INTEGER}, #{orientType,jdbcType=VARCHAR}, 
      #{orientValue,jdbcType=VARCHAR},#{matchKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmit.testing.entity.ScriptStep" >
    insert into script_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="scriptId != null" >
        script_id,
      </if>
      <if test="step != null" >
        step,
      </if>
      <if test="command != null" >
        command,
      </if>
      <if test="paramName != null" >
        param_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="paramKey != null" >
        param_key,
      </if>
      <if test="paramValue != null" >
        param_value,
      </if>
      <if test="paramType != null" >
        param_type,
      </if>
      <if test="orientType != null" >
        orient_type,
      </if>
      <if test="orientValue != null" >
        orient_value,
      </if>
      <if test="matchKey != null" >
        match_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="scriptId != null" >
        #{scriptId,jdbcType=INTEGER},
      </if>
      <if test="step != null" >
        #{step,jdbcType=INTEGER},
      </if>
      <if test="command != null" >
        #{command,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="paramKey != null" >
        #{paramKey,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null" >
        #{paramType,jdbcType=INTEGER},
      </if>
      <if test="orientType != null" >
        #{orientType,jdbcType=VARCHAR},
      </if>
      <if test="orientValue != null" >
        #{orientValue,jdbcType=VARCHAR},
      </if>
      <if test="matchKey != null" >
      	#{matchKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmit.testing.entity.ScriptStep" >
    update script_step
    <set >
      <if test="scriptId != null" >
        script_id = #{scriptId,jdbcType=INTEGER},
      </if>
      <if test="step != null" >
        step = #{step,jdbcType=INTEGER},
      </if>
      <if test="command != null" >
        command = #{command,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        param_name = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="paramKey != null" >
        param_key = #{paramKey,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null" >
        param_type = #{paramType,jdbcType=INTEGER},
      </if>
      <if test="orientType != null" >
        orient_type = #{orientType,jdbcType=VARCHAR},
      </if>
      <if test="orientValue != null" >
        orient_value = #{orientValue,jdbcType=VARCHAR},
      </if>
      <if test="matchKey != null" >
        match_key = #{matchKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmit.testing.entity.ScriptStep" >
    update script_step
    set script_id = #{scriptId,jdbcType=INTEGER},
      step = #{step,jdbcType=INTEGER},
      command = #{command,jdbcType=VARCHAR},
      param_name = #{paramName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      param_key = #{paramKey,jdbcType=VARCHAR},
      param_value = #{paramValue,jdbcType=VARCHAR},
      param_type = #{paramType,jdbcType=INTEGER},
      orient_type = #{orientType,jdbcType=VARCHAR},
      orient_value = #{orientValue,jdbcType=VARCHAR},
      match_key = #{matchKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByScriptId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from script_step
    where 1=1
    <if test="scriptId != null" >
      AND script_id = #{scriptId,jdbcType=INTEGER}
    </if>
    <if test="paramTypes!=null and paramTypes.size >0">
      AND param_type NOT IN
      <foreach close=")" collection="paramTypes" item="paramType" open="(" separator=",">
        #{paramType,jdbcType=INTEGER}
      </foreach>
    </if>
  </select>

  <select id="getByScriptIdAndParamType" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from script_step
    where script_id = #{scriptId,jdbcType=INTEGER} AND param_type IN
    <foreach item="paramType" collection="paramType" open="(" close=")" separator=",">
      #{paramType}
    </foreach>
  </select>

  <delete id="deleteByModelScript" parameterType="java.lang.Integer" >
    delete from script_step
    where script_id = #{scriptId,jdbcType=INTEGER}
  </delete>



</mapper>