<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmit.testing.dao.SysSurveyTaskScoreMapper">
    <resultMap id="BaseResultMap" type="com.cmit.testing.entity.SysSurveyTaskScore">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="survey_task_id" jdbcType="INTEGER" property="surveyTaskId"/>
        <result column="testcase_id" jdbcType="INTEGER" property="testcaseId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="start" jdbcType="VARCHAR" property="start"/>
        <result column="end" jdbcType="VARCHAR" property="end"/>
        <result column="score" jdbcType="VARCHAR" property="score"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, survey_task_id, testcase_id, type, start, end, score
  </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_survey_task_score
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_survey_task_score
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_survey_task_score
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.cmit.testing.entity.SysRole" useGeneratedKeys="true" keyProperty="id">
        insert into sys_survey_task_score (<include refid="Base_Column_List"/>)
        values (#{id,jdbcType=INTEGER}, #{surveyTaskId}, #{testcaseId},#{type},#{start},#{end},#{score})
    </insert>
    <insert id="insertSelective" parameterType="com.cmit.testing.entity.SysRole">
        insert into sys_survey_task_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="surveyTaskId != null">
                survey_task_id,
            </if>
            <if test="testcaseId != null">
                testcase_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="start != null">
                start,
            </if>
            <if test="end != null">
                end,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="surveyTaskId != null">
                #{surveyTaskId,jdbcType=INTEGER},
            </if>
            <if test="testcaseId != null">
                #{testcaseId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="start != null">
                #{start,jdbcType=DECIMAL},
            </if>
            <if test="end != null">
                #{end,jdbcType=DECIMAL},
            </if>
            <if test="score != null">
                #{score,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cmit.testing.entity.SysRole">
        update sys_survey_task_score
        <set>
            <if test="surveyTaskId != null">
                survey_task_id=#{surveyTaskId,jdbcType=INTEGER},
            </if>
            <if test="testcaseId != null">
                testcase_id= #{testcaseId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type= #{type,jdbcType=INTEGER},
            </if>
            <if test="start != null">
                start= #{start,jdbcType=DECIMAL},
            </if>
            <if test="end != null">
                end=#{end,jdbcType=DECIMAL},
            </if>
            <if test="score != null">
                score= #{score,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cmit.testing.entity.SysRole">
        update sys_survey_task_score
        set
         survey_task_id=#{surveyTaskId,jdbcType=INTEGER},
        testcase_id= #{testcaseId,jdbcType=INTEGER},
        type= #{type,jdbcType=INTEGER},
         start= #{start,jdbcType=DECIMAL},
          end=#{end,jdbcType=DECIMAL},
          score= #{score,jdbcType=DECIMAL}
        where id = #{id,jdbcType=INTEGER}
      </update>
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_survey_task_score
        where survey_task_id=#{surveyTaskId,jdbcType=INTEGER} and testcase_id= #{testcaseId,jdbcType=INTEGER}
    </select>
    <delete id="deleteBySurveyTask">
        delete  from sys_survey_task_score
        where survey_task_id=#{surveyTaskId,jdbcType=INTEGER} and testcase_id= #{testcaseId,jdbcType=INTEGER}
    </delete>
</mapper>